body {
  font-size: 14px;
}
header {
  width: 1170px;
  height: 132px;
  margin: 0 auto;
}
header .logo {
  width: 200px;
  height: 132px;
  text-indent: -999px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

header .home {
  float: right;
  margin-top: 82px;
  font-size: 16px;
  padding-right: 24px;
  background: url(../images/login-enter.png) no-repeat right;
}
main {
  height: 488px;
  background: url(../images/login-bg.png) no-repeat center/cover;
}

main .wrapper {
  width: 1170px;
  position: relative;
}

main .wrapper .box {
  width: 380px;
  box-shadow: 0px 0px 25px 0px rgba(3, 3, 3, 0.14);
  position: absolute;
  top: 60px;
  right: 100px;
  background: #fff;
  padding: 20px 40px;
}
main .wrapper .box .nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}
span main .wrapper .box .nav::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 8px;
  width: 1px;
  height: 20px;
  background: #ededed;
}

main .wrapper .box .nav a {
  font-size: 18px;
  height: 35px;
  line-height: 35px;
}

main .wrapper .box .nav a.active {
  border-bottom: 2px solid #17bb9b;
}

main .wrapper .box .tab-pane .code {
  display: block;
  margin: 44px auto;
}

main .wrapper .box .tab-pane .input {
  border: 1px solid #17bb9b;
  width: 100%;
  height: 36px;
  margin-top: 17px;
  display: flex;
  background: #cfcdcd;
}
main .wrapper .box .tab-pane .input span {
  color: #fff;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
}

main .wrapper .box .tab-pane .input input {
  flex: 1;
  padding-left: 15px;
  background: #fff;
}

main .wrapper .box .tab-pane .input input::placeholder {
  color: #b3b3b3 !important;
}

main .wrapper .box .tab-pane .agree {
  color: #b3b3b3;
  padding: 17px 0;
}

main .wrapper .box .tab-pane .agree a {
  color: #0673b1;
}
main .wrapper .box .tab-pane .button {
  margin-bottom: 15px;
}

main .wrapper .box .tab-pane .button .dl {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #17bb9b;
  color: #fff;
  display: block;
  font-size: 16px;
  margin-bottom: 17px;
}
.fl {
  float: left;
}

.fr {
  float: right;
}
